-e .
black==19.3b0
bump2version==0.5.11
Click==7.0
codecov==2.0.15
coverage==4.5.4
isort==4.3.21
mypy==0.720
mypy-extensions==0.4.1
pyflakes==2.1.1
pytest==5.1.2
pytest-cov==2.7.1
pytest-instafail==0.4.1
pytest-mypy==0.4.0
pytest-runner==5.1
# sphinx-click requires Sphinx<2.2
Sphinx==2.1.2 
sphinx-click==2.2.0
sphinxcontrib-fulltoc==1.2.0
